body {
    height: 100vh;
    margin: 0;
    background-size: cover !important;
    background: radial-gradient(ellipse farthest-corner at center top, #3b3b3b, #000000);
    color: #8b9095;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

#app {
    display: flex;
    min-height: 100vh;
    height: 100vh;
}

:root {
    --ctx-menu-background: #ffffff8a;
    --ctx-menu-border: none;
    --ctx-menu-border-radius: 5px;
    --ctx-menu-hover-bg: transprot;
    --ctx-menu-font-size: 15px;
    --ctx-menu-padding: 6px 10px;
}

ul.show {
    backdrop-filter: blur(5px);
}

ul.show>li {
    padding-left: 0px;
    padding-right: 0px;
}

button.context-menu-item :hover {
    font-weight: 900;
}